#Compile Source #
################
*.o


#Game executable  #
###################
main


#codeblocks file  #
###################
*.cbp

#bin  #
###################
bin/*

#layout file  #
###################
*.layout

#depend file  #
###################
*.depend

#saves  #
###################
save/*

